html{
	font-family: Arial;
	text-align: center;
	background-color: black;
	color: gray;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#topbar{
	height: 5%;
	color: white;
	padding-bottom: 1.5em;
}

#map{
	height: 87%;
}


button {
  text-decoration: none;
  color: #fff;
  background-color: black;

  border: white solid;
  border-radius: 5px;
  padding: 5px 15px;

  outline: none;

  cursor: pointer;
}

button:active {
  background-color: #5CA4D1;
}

button:hover {
  background-color: #6FC6FF;
}

@media only screen and (max-width: 480px){
	.mobile-hide{
		display: none !important;
	}
}

